* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url(image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  font-size: 20px;
}
label {
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: bold;
}
input {
  margin: 50px 0 0;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 23px;
  text-decoration: none;
  background-color: black;
  border: 2px solid white;
  border-radius: 50px;
  color: rgb(255, 255, 255);
}
.result {
  margin: 15px auto;
  font-size: 26px;
  color: rgb(255, 255, 102);
  letter-spacing: 1px;
  height: 1em;
  font-weight: bold;
}

button {
  width: 200px;
  margin: 40px 30px;
  padding: 10px 30px;
  background: none;
  border: 3px solid white;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight:bold;
  transition: color 0.3s, box-shadow 0.3s;
  text-transform: uppercase;
  cursor:pointer;
}
button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 9px 9px 3px rgba(0, 0, 0, 0.767);
}
button:active{
  box-shadow: 1px 1px 100px rgb(0, 0, 0);

}

/* ------> Media queries <------ */
@media screen and (max-width: 500px){
  label{
    font-size: 35px;
  }
}
@media screen and (max-width: 1000px) {
  button {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
  }
}